
##DATABASE

DB_URL=jdbc:postgresql://localhost:5432/fnbr_form
DB_USER=postgres
DB_PASSWORD=123


##MAIL

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=testfuniber.anderson.macias@gmail.com
MAIL_PASSWORD=qiirxdotctixwjgh 